# パッケージ

In [1]:
import numpy as np
import pandas as pd

In [2]:
import itertools

In [3]:
np.linspace(0, 10, 21)

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,
        5.5,  6. ,  6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. ])

In [5]:
np.linspace(0.5, 10, 20)

array([ 0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,  5.5,
        6. ,  6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. ])

In [1]:
list_a = ['a','b','c','d','e']

In [2]:
list_a[-1]

'e'

In [19]:
test=test.to_frame('T')

In [24]:
test.groupby('hwm').min()

          T
hwm
14.95  14.0

In [25]:
test

                T    hwm
Date
2023-07-24  14.95  14.95
2023-07-25  14.80  14.95
2023-07-26  14.89  14.95
2023-07-27  14.51  14.95
2023-07-28  14.45  14.95
2023-07-31  14.52  14.95
2023-08-01  14.30  14.95
2023-08-02  14.35  14.95
2023-08-03  14.09  14.95
2023-08-04  14.00  14.95
2023-08-07  14.01  14.95
2023-08-08  14.18  14.95
2023-08-09  14.27  14.95
2023-08-10  14.17  14.95
2023-08-11  14.37  14.95

# 事前準備  
時系列株価データの取得

In [3]:
from datetime import date, timedelta
from pandas_datareader import data as pdr

In [4]:
# 期間設定
today = date.today()
startday = today - timedelta(days=20)
# 銘柄設定
ticker_list = ["IBM", "AAPL", "MSFT", "C", "T"]

In [5]:
# 取得
pd_data = pdr.DataReader(ticker_list, "stooq", startday)

In [6]:
# リターン
ret = pd_data['Close'].sort_index(ascending=True)
ret=ret.pct_change().drop(ret.index[0])

In [31]:
# 共分散行列
cvm = ret.cov()

In [32]:
# 株価
prc = pd_data['Close']['IBM'].sort_index(ascending=True)

## コードチェック

In [2]:
pd.datetime.today()

C:\Users\yh_in\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

datetime.datetime(2023, 6, 24, 13, 15, 7, 346010)

In [3]:
pd.tseries.offsets.BDay()

In [1]:
dict0 = {'minWLeaf':[.0], 'scoring': ['accuracy'], 'method': ['MDI', 'MDA', 'SFI'], 'max_samples': [1.]}

In [5]:
*dict0.values()

SyntaxError: can't use starred expression here (<ipython-input-5-037e8bef21e4>, line 4)

In [17]:
val = [i for i in itertools.product(*dict0.values())]

In [19]:
val

[(0.0, 'accuracy', 'MDI', 1.0),
 (0.0, 'accuracy', 'MDA', 1.0),
 (0.0, 'accuracy', 'SFI', 1.0)]

In [16]:
[dict(zip(dict0, i)) for i in itertools.product(*dict0.values())]

[{'minWLeaf': 0.0, 'scoring': 'accuracy', 'method': 'MDI', 'max_samples': 1.0},
 {'minWLeaf': 0.0, 'scoring': 'accuracy', 'method': 'MDA', 'max_samples': 1.0},
 {'minWLeaf': 0.0, 'scoring': 'accuracy', 'method': 'SFI', 'max_samples': 1.0}]

In [21]:
dict0

{'minWLeaf': [0.0],
 'scoring': ['accuracy'],
 'method': ['MDI', 'MDA', 'SFI'],
 'max_samples': [1.0]}

In [25]:
dict(zip(dict0, val[0]))

{'minWLeaf': 0.0, 'scoring': 'accuracy', 'method': 'MDI', 'max_samples': 1.0}

In [35]:
type(ret)

pandas.core.frame.DataFrame

In [36]:
ret

Symbols          IBM      AAPL      MSFT         C         T
Date
2023-06-13  0.008650 -0.002612  0.007353  0.004954 -0.006905
2023-06-14 -0.002907  0.003491  0.009124 -0.009242  0.001264
2023-06-15  0.008746  0.011199  0.031897  0.006633  0.011995
2023-06-16 -0.006647 -0.005860 -0.016576 -0.007619  0.001871
2023-06-20 -0.011056  0.000487 -0.012503 -0.012036 -0.017435
2023-06-21 -0.016696 -0.005675 -0.013282 -0.004201 -0.010773
2023-06-22 -0.018850  0.016525  0.018437 -0.016452 -0.001922
2023-06-23 -0.013265 -0.001711 -0.013806 -0.013082 -0.008344
2023-06-26  0.014757 -0.007553 -0.019163  0.004781  0.011650
2023-06-27  0.007614  0.015059  0.018168  0.003460  0.013436
2023-06-28 -0.004383  0.006328  0.003826 -0.003664 -0.003788
2023-06-29  0.017456  0.001797 -0.002382  0.001298  0.012674

In [37]:
ret.index

DatetimeIndex(['2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16',
               '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23',
               '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-29'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [39]:
[i[0] for i in ret.columns]

['I', 'A', 'M', 'C', 'T']

In [8]:
for j in range(4, 4):
    print(j)

In [5]:
int(98.68239)

98

In [6]:
int(98.99)

98

## 3.1 日次ボラティリティ推定

In [8]:
close=prc

In [9]:
# 2営業日前の日付を取得
df0 = close.index.searchsorted(close.index - pd.Timedelta(days=1))
df0 = df0[df0>0]
df0 = pd.Series(close.index[df0-1], index=close.index[close.shape[0]-df0.shape[0]:])

# 2営業日前からのリターン系列
df0 = close.loc[df0.index] / close.loc[df0.values].values-1

# 指数平滑加重標準偏差
df0.ewm(span=100).std()

Date
2023-04-26         NaN
2023-04-27    0.003529
2023-04-28    0.002663
2023-05-01    0.004616
2023-05-02    0.007250
2023-05-03    0.011076
2023-05-04    0.012151
2023-05-05    0.011511
2023-05-08    0.010755
2023-05-09    0.011319
2023-05-10    0.010800
2023-05-11    0.010332
2023-05-12    0.010547
Name: IBM, dtype: float64

In [10]:
df0

Date
2023-04-26    0.003589
2023-04-27    0.008579
2023-04-28    0.004450
2023-05-01   -0.002531
2023-05-02   -0.009888
2023-05-03   -0.020937
2023-05-04   -0.020694
2023-05-05    0.001620
2023-05-08   -0.002022
2023-05-09   -0.020057
2023-05-10   -0.011183
2023-05-11   -0.002228
2023-05-12    0.006720
Name: IBM, dtype: float64

## 2.1 リスク分布RのPCAウェイト  
各主成分のリスク寄与が指定した配分となるような資産ウェイトを算出

In [36]:
# パラメータ設定（共分散行列、リスク水準）
cov = cvm
riskTarget = 1

In [22]:
# 固有値、固有ベクトル（入力はエルミート行列である必要がある⇒下三角行列で固有値を算出するため）
eVal, eVec = np.linalg.eigh(cov)

In [23]:
# 降順ソートのインデックス順列
indices = eVal.argsort()[::-1]

In [24]:
# 固有値降順で並び替え
eVal, eVec = eVal[indices], eVec[:, indices]

In [29]:
# デフォルトのリスク分布を設定（固有値最低の主成分に全て配分）
riskDist = np.zeros(cov.shape[0])
riskDist[-1] = 1

In [37]:
# 設定したリスク分布となる資産ウェイトの算出
loads = riskTarget*riskDist/eVal**.5
wghts = np.dot(eVec, np.reshape(loads, (-1, 1)))

In [9]:
prc = pd_data["Close"]["IBM"].sort_index(ascending=True)

In [12]:
diff = prc.diff()

In [2]:
4**-0.5

0.5